*{
    box-sizing: content-box;
   
}

#zona_votacion{
    color: white;
   padding: 10px;
    border: solid black;
    background-color: rgba(0, 0, 0, 0.733);
}

h1{
    color: white;
    background-color:rgba(0, 0, 0, 0.733);
}

.img{
    height: 180PX;
    width: 120PX;
    margin: 10px;
    border: solid black 1px;
    background-color: rgba(255, 255, 255, 0.671);
    color: white;
    margin-left: 30px;
    padding-right: 20px;
}

img{
    height: 100px;
    width: 100px;
    padding-right: 20px;
    margin-left: 30px;
}

#padre{
    
    display: flex;
}

p{
    background-color: rgba(0, 0, 0, 0.733) ;
    text-align: center;
    width: 142px;
}